html{
    font-family: "Aenir Next", Helvetica, sans-serif;
    text-align: center;
}
body{
    max-width: 500px;
    margin: 0 auto;
}
input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    text-align: center;
    border: 1px dotted rgb(179, 175, 175);
    margin-bottom: 5px;
    margin-top: 5px;
}
input:focus {
    outline: none;
}
li{
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}
.remove {
    padding-bottom: 5px;
}

footer{
    position: fixed;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgb(0,0,0);
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}