h1{
    text-align: center;/*center teh text*/
}
/*Thi scontainer includes the table and the canvas*/
.center-container{
    width:608px;
    margin: 0 auto;/* center the container*/
    margin-top: 50px;/*50px down from the top*/
}
table{
    border-collapse: collapse;/*collaps table border into 1 border*/
    border-style: hidden;/*hide outer border of the table*/
}
td{
    cursor: pointer;/*change the cursor styl eto hand for selections*/
    border: 4px solid rgba(221, 119, 172, 0.8);/*set table border style*/
    padding: 0px;
    width: 200px;
    height: 200px;
}
canvas{
    position: absolute;/*set the position to top left corner*/
    z-index: 10;/*place teh canvas on top of everything*/
    pointer-events: none;/*make canvas invisible*/
}